:root {
  --color-main: #d4ffca;
  --color-text: #184455;
  --color-bg: #3e6bc0;
  --color-active: #00ffbf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

main {
  min-height: calc(100vh - 86px - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

a:hover {
  text-decoration: underline;
}

.active {
  color: var(--color-active);
  cursor: default;
}

h1 {
  text-align: center;
}

header {
  background-color: var(--color-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

header a {
  padding: 20px;
  color: var(--color-main);
}

form {
  margin: 12px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 8px 8px 8px 15px;
  font-size: 17px;
}

button[type=submit] {
  font-size: 17px;
  background-color: var(--color-bg);
  color: var(--color-main);
  cursor: pointer;
  transition: all 0.3s;
  height: 40px;
  border: none;
  outline: none;
  padding: 5px;
}

button[type=submit]:hover {
  background-color: var(--color-active);
  color: var(--color-text);
}
